<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Directory Browser</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.0/cerulean/bootstrap.min.css" integrity="sha512-kMDeZz6PEdoSeRif09ZA8ABOzop+EgPBWDqcINdA/31dP0BQ8Z09lNEV7zupD81IVAm86pUt0zLWTOiZYhG/AQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	@if (User.Identity.IsAuthenticated)
	{
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="WelcomePage">Directory Browser</a>				
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="#">@User.Identity.Name</a>
						</li>
					</ul>
					<form class="nav-item" asp-action="Logout" asp-controller="Account">
						<ul class="navbar-nav">
							<li class="nav-item">
								<button type="submit" class="btn btn-primary">Log out</button>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</nav>
	}
	else
	{
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="WelcomePage">Directory Browser</a>				
				<div class="collapse navbar-collapse" id="navbarColor01">
					<form class="d-flex">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" asp-action="Register" asp-controller="Account">Sign up</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" asp-action="Login" asp-controller="Account">Sign in</a>
							</li>
						</ul>
					</form>
				</div>
			</div>
		</nav>
	}
	<div class="container">
		@RenderBody()
	</div>
</body>
</html>