<div class="container">
    <form asp-controller="Home" asp-action="ImportYourFolders" enctype="multipart/form-data">
        <div class="form-group">
          <label for="formFile" class="form-label mt-4">Select JSON File</label>
          <input name="json" required class="form-control" type="file" id="formFile" >
          <input type="submit" class="btn btn-lg btn-primary"/>
        </div>
    </form>
</div>