<div class="container">
    <h1>Welcome To Directory Browser</h1>
    <h4>Choose the option:</h4>
    
    <a asp-controller="Home" asp-action="TestData" class="btn btn-lg btn-primary">Test Data</a>
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="Login" class="btn btn-lg btn-primary">Import From OS</a>       
    } else
    {
        <a asp-controller="Home" asp-action="Importer" class="btn btn-lg btn-primary">Import From OS</a>
        <a asp-controller="Home" asp-action="GetUsersCatalogs" class="btn btn-lg btn-primary">My Folders</a>
    }
</div>